# = MAC FILES
# ----------------------------------------------------------------------
Icon
.DS_Store

# =GIT
# ----------------------------------------------------------------------
.git
*.git

# =KIRBY
# ----------------------------------------------------------------------
kirby/*
panel/*
site/*

# = IMAGES
# ----------------------------------------------------------------------
/thumbs/*
!/thumbs/index.html

# = CACHE
# ----------------------------------------------------------------------
/site/cache/*
!/site/cache/index.html

# = ACCOUNTS
# ----------------------------------------------------------------------
/site/accounts/*
!/site/accounts/index.html

# = AVATARS
# ----------------------------------------------------------------------
/assets/avatars/*
!/assets/avatars/index.html

# = EDITORS TEXT
# ----------------------------------------------------------------------
prepros.cfg
prepros-6.config
prepros.cfg
config.codekit3

# = NPM & BOWER
# ----------------------------------------------------------------------
node_modules/*
bower_components/*
package.json
package-lock.json
gulpfile.js